# Part 1: Data Overview and Data Cleaning
***

### Import Libraries

In [27]:
import os
import plotly.express as px
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go

#pd.set_option('display.max_rows', 500)

MAPBOX_TOKEN = 'pk.eyJ1IjoibWFyaWVkcmV6IiwiYSI6ImNsOXl5dTFtZjAyYm4zd28zN3Y1ZzYycm0ifQ.W1Toe6X5S9AELY56h0OQDw'

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from math import sqrt
from scipy.stats import norm

from IPython import display

import re
import warnings
warnings.filterwarnings('ignore')

pd.set_option("display.max_rows", None)

### Import Data

In [2]:
for files in os.listdir():
    print(files) if files.endswith('csv') else None

In [3]:
# Read in .csv files as pandas dataframe
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')
spray_df = pd.read_csv('./data/spray.csv')
weather_df = pd.read_csv('./data/weather.csv')

### View Datasets

In [4]:
# View shape of each dataset
display(train_df)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,5,0
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,1,0
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,5,0
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,1,0

In [21]:
# Summarise all datasets
print("This is the train_df")
display(train_df.describe())
print(" ")
print("This is the test_df")
display(test_df.describe())
print(" ")
print("This is the spray_df")
display(spray_df.describe())
print(" ")
print("This is the weather_df")
display(weather_df.describe())

This is the train_df

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

This is the test_df

,Id,Block,Latitude,Longitude,AddressAccuracy
count,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000
mean,58147.000000,41.131100,41.849389,-87.693658,7.954357
std,33571.041765,24.864726,0.106593,0.080699,1.252733
min,1.000000,10.000000,41.644612,-87.930995,3.000000
25%,29074.000000,18.000000,41.753411,-87.750938,8.000000
50%,58147.000000,39.000000,41.862292,-87.694991,8.000000
75%,87220.000000,61.000000,41.951866,-87.648860,9.000000
max,116293.000000,98.000000,42.017430,-87.531635,9.000000

This is the spray_df

           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

This is the weather_df

,Station,Tmax,Tmin,DewPoint,ResultSpeed,ResultDir
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000

In [6]:
train_df.WnvPresent.value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

### Unique Values

In [7]:
# View unique values for each column in train_df
for col in train_df:
    print(train_df[col].unique())

['2007-05-29' '2007-06-05' '2007-06-26' '2007-06-29' '2007-07-02'
 '2007-07-11' '2007-07-18' '2007-07-19' '2007-07-25' '2007-07-27'
 '2007-08-01' '2007-08-02' '2007-08-03' '2007-08-07' '2007-08-08'
 '2007-08-09' '2007-08-15' '2007-08-16' '2007-08-17' '2007-08-21'
 '2007-08-22' '2007-08-24' '2007-08-28' '2007-09-04' '2007-09-05'
 '2007-09-06' '2007-09-12' '2007-09-18' '2007-09-19' '2007-09-24'
 '2007-09-25' '2007-10-04' '2007-10-09' '2009-05-28' '2009-06-02'
 '2009-06-03' '2009-06-05' '2009-06-12' '2009-06-15' '2009-06-19'
 '2009-06-22' '2009-06-26' '2009-06-29' '2009-07-06' '2009-07-10'
 '2009-07-13' '2009-07-17' '2009-07-24' '2009-07-27' '2009-07-31'
 '2009-08-07' '2009-08-13' '2009-08-25' '2009-08-27' '2009-09-03'
 '2009-09-14' '2009-09-17' '2009-09-25' '2009-10-01' '2011-06-10'
 '2011-06-17' '2011-06-24' '2011-06-30' '2011-07-11' '2011-07-15'
 '2011-07-25' '2011-07-29' '2011-08-05' '2011-08-12' '2011-08-19'
 '2011-08-26' '2011-09-01' '2011-09-02' '2011-09-12' '2011-09-16'
 '2011-09-23' '2011-09-30' '2013-06-07' '2013-06-14' '2013-06-21'
 '2013-06-27' '2013-06-28' '2013-07-08' '2013-07-12' '2013-07-19'
 '2013-07-25' '2013-08-01' '2013-08-08' '2013-08-15' '2013-08-22'
 '2013-08-29' '2013-09-06' '2013-09-12' '2013-09-19' '2013-09-26']
['4100 North Oak Park Avenue, Chicago, IL 60634, USA'
 '6200 North Mandell Avenue, Chicago, IL 60646, USA'
 '7900 West Foster Avenue, Chicago, IL 60656, USA'
 '1500 West Webster Avenue, Chicago, IL 60614, USA'
 '2500 West Grand Avenue, Chicago, IL 60654, USA'
 '1100 Roosevelt Road, Chicago, IL 60608, USA'
 '1100 West Chicago Avenue, Chicago, IL 60642, USA'
 '2100 North Stave Street, Chicago, IL 60647, USA'
 '2200 North Cannon Drive, Chicago, IL 60614, USA'
 '2200 West 113th Street, Chicago, IL 60643, USA'
 '1100 South Peoria Street, Chicago, IL 60608, USA'
 '1700 West 95th Street, Chicago, IL 60643, USA'
 '2200 West 89th Street, Chicago, IL 60643, USA'
 'North Streeter Drive, Chicago, IL 60611, USA'
 '6500 North Oak Park Avenue, Chicago, IL 60631, USA'
 '7500 North Oakley Avenue, Chicago, IL 60645, USA'
 '1500 North Long Avenue, Chicago, IL 60651, USA'
 '8900 South Carpenter Street, Chicago, IL 60620, USA'
 '9100 West Higgins Avenue, Chicago, IL 60656, USA'
 '3600 North Pittsburgh Avenue, Chicago, IL 60634, USA'
 '7200 North Oketo Avenue, Chicago, IL 60631, USA'
 '3800 North California Avenue, Chicago, IL 60618, USA'
 '4900 West Balmoral Avenue, Chicago, IL 60630, USA'
 '5800 North Western Avenue, Chicago, IL 60659, USA'
 '5000 South Central Avenue, Chicago, IL 60638, USA'
 '1400 North Sacramento Avenue, Chicago, IL 60622, USA'
 'South Vincennes Avenue, Chicago, IL, USA'
 'University of Illinois at Chicago, 1100 South Ashland Avenue, Chicago, IL 60607, USA'
 '1100 South State Street, Chicago, IL 60605, USA'
 '4200 West 127th Street, Alsip, IL 60803, USA'
 '5300 West Agatite Avenue, Chicago, IL 60630, USA'
 '4000 North Austin Avenue, Chicago, IL 60634, USA' 'Chicago, IL, USA'
 '4200 North Richmond Street, Chicago, IL 60618, USA'
 '2800 North Francisco Avenue, Chicago, IL 60618, USA'
 '1500 West Granville Avenue, Chicago, IL 60660, USA'
 '1800 West Farwell Avenue, Chicago, IL 60626, USA'
 '7000 West Armitage Avenue, Chicago, IL 60707, USA'
 '2500 South Millard Avenue, Chicago, IL 60623, USA'
 '2100 North Lawler Avenue, Chicago, IL 60639, USA'
 '3500 West 116th Street, Chicago, IL 60655, USA'
 '9300 South Doctor Martin Luther King Junior Drive, Chicago, IL 60619, USA'
 '3700 North Kedvale Avenue, Chicago, IL 60641, USA'
 '4500 North Campbell Avenue, Chicago, IL 60625, USA'
 '4000 North Tripp Avenue, Chicago, IL 60641, USA'
 '4600 Milwaukee Avenue, Chicago, IL 60630, USA'
 '6000 North Avondale Avenue, Chicago, IL 60631, USA'
 '7000 North Moselle Avenue, Chicago, IL 60646, USA'
 '6100 North Lemont Avenue, Chicago, IL 60646, USA'
 '2700 South Western Avenue, Chicago, IL 60608, USA'
 '6800 West Belden Avenue, Chicago, IL 60707, USA'
 '2100 South Hamlin Avenue, Chicago, IL 60623, USA'
 '3000 West 18th Street, Chicago, IL 60608, USA'
 '1100 South California Avenue, Chicago, IL 60612, USA'
 '2500 South Throop Street, Chicago, IL 60608, USA'
 '1000 West 95th Street, Chicago, IL 60643, USA'
 '1000 South California Avenue, Chicago, IL 60612, USA'
 '9600 South Hoyne Avenue, Chicago, IL 60643, USA'
 '1800 West Leland Avenue, Chicago, IL 60640, USA'
 '6100 West Fullerton Avenue, Chicago, IL 60639, USA'
 '6400 West Strong Street, Chicago, IL, USA'
 '1200 West Greenleaf Avenue, Chicago, IL 60626, USA'
 '1000 North Central Park Avenue, Chicago, IL 60651, USA'
 '2000 East 111th Street, Chicago, IL 60628, USA'
 '3300 North Rutherford Avenue, Chicago, IL 60634, USA'
 '1100 North Artesian Avenue, Chicago, IL 60622, USA'
 '6000 West Roscoe Street, Chicago, IL 60634, USA'
 '6000 West Montrose Avenue, Chicago, IL 60634, USA'
 '3300 West Randolph Street, Chicago, IL 60612, USA'
 '3300 West 104th Street, Chicago, IL 60655, USA'
 '4900 West Sunnyside Avenue, Chicago, IL 60630, USA'
 '3000 South Hoyne Avenue, Chicago, IL 60608, USA'
 '4200 West 31st Street, Chicago, IL 60623, USA'
 '1700 North Pulaski Road, Chicago, IL 60639, USA'
 '2200 West Pershing Road, Chicago, IL 60609, USA'
 '2200 West 51st Street, Chicago, IL 60609, USA'
 '3500 West 51st Street, Chicago, IL 60632, USA'
 'Chicago Midway International Airport (MDW), 5200 West 63rd Street, Chicago, IL 60638, USA'
 '6700 South Kedzie Avenue, Chicago, IL 60629, USA'
 '7300 Cicero Avenue, Chicago, IL 60638, USA'
 '2200 West 69th Street, Chicago, IL 60636, USA'
 '5200 South Nordica Avenue, Chicago, IL 60638, USA'
 '6100 South Melvina Avenue, Chicago, IL 60638, USA'
 '1000 East 67th Street, Chicago, IL 60637, USA'
 '3900 South Ashland Avenue, Chicago, IL 60609, USA'
 '4700 South Cornell Avenue, Chicago, IL 60615, USA'
 '5500 South Doctor Martin Luther King Junior Drive, Chicago, IL 60637, USA'
 '6400 South Stony Island Avenue, Chicago, IL 60637, USA'
 '7100 South South Shore Drive, Chicago, IL 60649, USA'
 '7700 South Eberhart Avenue, Chicago, IL 60619, USA'
 '4000 South Dearborn Street, Chicago, IL 60609, USA'
 '5000 South Union Avenue, Chicago, IL 60609, USA'
 '7900 South South Chicago Avenue, Chicago, IL 60617, USA'
 '5200 South Kolmar Avenue, Chicago, IL 60632, USA'
 '6300 West 64th Street, Chicago, IL 60638, USA'
 '3700 South Pulaski Road, Chicago, IL 60623, USA'
 'South Doty Avenue, Chicago, IL, USA'
 'South Stony Island Avenue, Chicago, IL, USA'
 'South Torrence Avenue, Chicago, IL, USA'
 'South Mackinaw Avenue, Chicago, IL 60617, USA'
 'South Brandon Avenue, Chicago, IL 60617, USA'
 '3700 118th Street, Chicago, IL 60617, USA'
 '3800 East 115th Street, Chicago, IL 60617, USA'
 'East 91st Street, Chicago, IL, USA'
 '2400 East 105th Street, Chicago, IL 60617, USA'
 '8000 South Kedzie Avenue, Chicago, IL 60652, USA'
 '6500 South Racine Avenue, Chicago, IL 60636, USA'
 'East 138th Street, Riverdale, IL 60827, USA'
 '8900 South Muskegon Avenue, Chicago, IL 60617, USA'
 '9800 South Avenue G, Chicago, IL 60617, USA'
 'South Cottage Grove Avenue, Chicago, IL, USA'
 'South Avenue L, Chicago, IL 60617, USA'
 '5800 North Pulaski Road, Chicago, IL 60646, USA'
 '6600 South Kilpatrick Avenue, Chicago, IL 60629, USA'
 'West 37th Place, Chicago, IL, USA'
 '4000 East 130th Street, Chicago, IL 60633, USA'
 '9100 West Higgins Road, Rosemont, IL 60018, USA'
 "ORD Terminal 5, O'Hare International Airport, Chicago, IL 60666, USA"
 'Ohare Court, Bensenville, IL 60106, USA'
 '4800 West Montana Street, Chicago, IL 60639, USA'
 '5100 North Mont Clare Avenue, Chicago, IL 60656, USA'
 '8200 South Kostner Avenue, Chicago, IL 60652, USA'
 'East 91st Place, Chicago, IL, USA'
 '1700 West Addison Street, Chicago, IL 60613, USA'
 'West Garfield Boulevard, Chicago, IL, USA'
 'South Wallace Street, Chicago, IL, USA'
 '1300 North Laramie Avenue, Chicago, IL 60651, USA'
 '3900 North Springfield Avenue, Chicago, IL 60618, USA'
 '1700 North Ashland Avenue, Chicago, IL 60622, USA'
 '5100 West 72nd Street, Chicago, IL 60638, USA'
 '5800 North Ridge Avenue, Chicago, IL 60660, USA'
 '4200 West 65th Street, Chicago, IL 60621, USA'
 '7100 North Harlem Avenue, Chicago, IL 60631, USA'
 '6200 North Mcclellan Avenue, Chicago, IL 60646, USA'
 '2900 West 85th Street, Chicago, IL 60652, USA'
 '3400 West 77th Street, Chicago, IL 60652, USA'
 '9600 South Longwood Drive, Chicago, IL 60643, USA'
 '2100 North Cannon Drive, Chicago, IL 60614, USA']
['CULEX PIPIENS/RESTUANS' 'CULEX RESTUANS' 'CULEX PIPIENS'
 'CULEX SALINARIUS' 'CULEX TERRITANS' 'CULEX TARSALIS' 'CULEX ERRATICUS']
[41 62 79 15 25 11 21 22 17 53 65 75 89 91 36 72 38 49 58 50 14 10 42 40
 43 28 18 70 35 93 37 45 46 60 61 27 68 30 96 64 12 20 33 52 67 73 39 47
 55 71 77 63 13 81 24 80 82 98 66 48 51 90 29 34]
[' N OAK PARK AVE' ' N MANDELL AVE' ' W FOSTER AVE' ' W WEBSTER AVE'
 ' W GRAND AVE' ' W ROOSEVELT' ' W CHICAGO' ' N STAVE ST' ' N CANNON DR'
 ' W 113TH ST' ' S PEORIA ST' ' W 95TH ST' ' W 89TH ST' ' N STREETER DR'
 ' N OAKLEY AVE' ' N LONG AVE' ' S CARPENTER ST' ' W HIGGINS AVE'
 ' N PITTSBURGH AVE' ' N OKETO AVE' ' N CALIFORNIA AVE' ' W BALMORAL AVE'
 ' N WESTERN AVE' ' S CENTRAL AVE' ' N HUMBOLDT DR' ' S VINCENNES'
 ' S ASHLAND AVE' ' S STATE ST' ' W 127TH PL' ' W AGATITE AVE'
 ' N AUSTIN AVE' ' N ASHLAND AVE OVERPASS' ' N RICHMOND ST'
 ' N FRANCISCO AVE' ' W GRANVILLE AVE' ' W FARWELL AVE'
 '  W ARMITAGE AVENUE' ' S MILLARD AVE' ' N LAWLER AVE' ' W 116TH ST'
 ' S DR MARTIN LUTHER KING JR DR' ' N KEDVALE AVE' ' N CAMPBELL AVE'
 ' N TRIPP AVE' ' N MILWAUKEE AVE' ' N AVONDALE AVE' ' N MOSELL AVE'
 ' N LEMONT AVE' ' S WESTERN AVE' ' W BELDEN AVE' ' S HAMLIN AVE'
 ' W 18TH ST' ' S CALIFORNIA' ' S THROOP' ' S CALIFORNIA AVE'
 ' S HOYNE AVE' ' W LELAND AVE' ' W FULLERTON AVE' ' W STRONG ST'
 ' W GREENLEAF AVE' ' N CENTRAL PARK DR' ' E 111TH ST' ' N RUTHERFORD AVE'
 ' S ARTESIAN AVE' ' W ROSCOE ST' ' W MONTROSE DR' ' E RANDOLPH ST'
 ' W 104TH ST' ' W SUNNYSIDE AVE' ' W 31ST ST' ' N PULASKI RD'
 ' W PERSHING RD' ' W 51ST ST' ' W 63RD ST' ' S KEDZIE AVE'
 ' S CICERO AVE' ' W 69TH ST' ' S NORDICA' ' S MELVINA AVE' ' E 67TH ST'
 ' S CORNELL AVE' ' S STONY ISLAND AVE' ' S SOUTH SHORE DR'
 ' S EBERHART AVE' ' S DEARBORN ST' ' S UNION AVE' ' S CHICAGO AVE'
 ' S KOLMAR' ' W 64TH ST' ' S PULASKI RD' ' S DOTY AVE' ' S TORRENCE AVE'
 ' S MACKINAW' ' S BRANDON' ' E 118TH ST' ' E 115TH ST' ' E 91ST ST'
 ' E 105TH ST' ' S RACINE AVE' ' E 138TH ST' ' S MUSKEGON AVE'
 ' S AVENUE G' ' S COTTAGE GROVE' ' S AVENUE L' ' S KILPATRICK AVE'
 ' W 37TH PL.' ' E 130TH ST' ' W HIGGINS RD' ' W OHARE AIRPORT' ' W OHARE'
 ' W MONTANA ST' ' N MONT CLARE AVE' ' S KOSTNER AVE' ' E 91ST PL'
 ' W ADDISON ST' ' W GARFIELD BLVD' ' S WALLACE ST' ' N LARAMIE AVE'
 ' N SPRINGFIELD AVE' ' N ASHLAND AVE' ' W 72ND ST' ' N RIDGE AVE'
 ' W 65TH ST' ' N HARLEM AVE' ' N MCCLELLAN AVE' ' W 85TH ST' ' W 77TH ST'
 ' S LONGWOOD DR']
['T002' 'T007' 'T015' 'T045' 'T046' 'T048' 'T049' 'T050' 'T054' 'T086'
 'T091' 'T094' 'T096' 'T129' 'T143' 'T148' 'T153' 'T159' 'T009' 'T011'
 'T016' 'T019' 'T025' 'T028' 'T031' 'T033' 'T089' 'T090' 'T092' 'T135'
 'T141' 'T142' 'T145' 'T146' 'T147' 'T149' 'T150' 'T151' 'T152' 'T154'
 'T158' 'T162' 'T218' 'T220' 'T001' 'T003' 'T006' 'T008' 'T012' 'T034'
 'T037' 'T040' 'T043' 'T047' 'T051' 'T085' 'T088' 'T161' 'T219' 'T013'
 'T014' 'T018' 'T030' 'T084' 'T144' 'T160' 'T005' 'T017' 'T044' 'T095'
 'T004' 'T035' 'T036' 'T039' 'T060' 'T061' 'T062' 'T065' 'T066' 'T067'
 'T069' 'T070' 'T071' 'T073' 'T074' 'T075' 'T076' 'T077' 'T079' 'T080'
 'T081' 'T082' 'T083' 'T114' 'T155' 'T063' 'T115' 'T138' 'T200' 'T206'
 'T209' 'T212' 'T215' 'T107' 'T128' 'T072' 'T078' 'T097' 'T099' 'T100'
 'T102' 'T103' 'T027' 'T156' 'T157' 'T221' 'T900' 'T903' 'T222' 'T223'
 'T225' 'T227' 'T224' 'T226' 'T229' 'T230' 'T228' 'T232' 'T231' 'T235'
 'T233' 'T236' 'T237' 'T238' 'T094B' 'T054C']
['4100  N OAK PARK AVE, Chicago, IL' '6200  N MANDELL AVE, Chicago, IL'
 '7900  W FOSTER AVE, Chicago, IL' '1500  W WEBSTER AVE, Chicago, IL'
 '2500  W GRAND AVE, Chicago, IL' '1100  W ROOSEVELT, Chicago, IL'
 '1100  W CHICAGO, Chicago, IL' '2100  N STAVE ST, Chicago, IL'
 '2200  N CANNON DR, Chicago, IL' '2200  W 113TH ST, Chicago, IL'
 '1100  S PEORIA ST, Chicago, IL' '1700  W 95TH ST, Chicago, IL'
 '2200  W 89TH ST, Chicago, IL' '5300  N STREETER DR, Chicago, IL'
 '6500  N OAK PARK AVE, Chicago, IL' '7500  N OAKLEY AVE, Chicago, IL'
 '1500  N LONG AVE, Chicago, IL' '8900  S CARPENTER ST, Chicago, IL'
 '9100  W HIGGINS AVE, Chicago, IL' '3600  N PITTSBURGH AVE, Chicago, IL'
 '7200  N OKETO AVE, Chicago, IL' '3800  N CALIFORNIA AVE, Chicago, IL'
 '4900  W BALMORAL AVE, Chicago, IL' '5800  N WESTERN AVE, Chicago, IL'
 '5000  S CENTRAL AVE, Chicago, IL' '1400  N HUMBOLDT DR, Chicago, IL'
 '1000  S VINCENNES, Chicago, IL' '1100  S ASHLAND AVE, Chicago, IL'
 '1100  S STATE ST, Chicago, IL' '4200  W 127TH PL, Chicago, IL'
 '5300  W AGATITE AVE, Chicago, IL' '4000  N AUSTIN AVE, Chicago, IL'
 '4300  N ASHLAND AVE OVERPASS, Chicago, IL'
 '4200  N RICHMOND ST, Chicago, IL' '2800  N FRANCISCO AVE, Chicago, IL'
 '1500  W GRANVILLE AVE, Chicago, IL' '1800  W FARWELL AVE, Chicago, IL'
 '7000   W ARMITAGE AVENUE, Chicago, IL'
 '2500  S MILLARD AVE, Chicago, IL' '2100  N LAWLER AVE, Chicago, IL'
 '3500  W 116TH ST, Chicago, IL'
 '9300  S DR MARTIN LUTHER KING JR DR, Chicago, IL'
 '3700  N KEDVALE AVE, Chicago, IL' '4500  N CAMPBELL AVE, Chicago, IL'
 '4000  N TRIPP AVE, Chicago, IL' '4600  N MILWAUKEE AVE, Chicago, IL'
 '6000  N AVONDALE AVE, Chicago, IL' '7000  N MOSELL AVE, Chicago, IL'
 '6100  N LEMONT AVE, Chicago, IL' '2700  S WESTERN AVE, Chicago, IL'
 '6800  W BELDEN AVE, Chicago, IL' '2100  S HAMLIN AVE, Chicago, IL'
 '3000  W 18TH ST, Chicago, IL' '1100  S CALIFORNIA, Chicago, IL'
 '2500  S THROOP, Chicago, IL' '1000  W 95TH ST, Chicago, IL'
 '1000  S CALIFORNIA AVE, Chicago, IL' '9600  S HOYNE AVE, Chicago, IL'
 '1800  W LELAND AVE, Chicago, IL' '6100  W FULLERTON AVE, Chicago, IL'
 '6400  W STRONG ST, Chicago, IL' '1200  W GREENLEAF AVE, Chicago, IL'
 '1000  N CENTRAL PARK DR, Chicago, IL' '2000  E 111TH ST, Chicago, IL'
 '3300  N RUTHERFORD AVE, Chicago, IL' '1100  S ARTESIAN AVE, Chicago, IL'
 '6000  W ROSCOE ST, Chicago, IL' '6000  W MONTROSE DR, Chicago, IL'
 '3300  E RANDOLPH ST, Chicago, IL' '3300  W 104TH ST, Chicago, IL'
 '4900  W SUNNYSIDE AVE, Chicago, IL' '3000  S HOYNE AVE, Chicago, IL'
 '4200  W 31ST ST, Chicago, IL' '1700  N PULASKI RD, Chicago, IL'
 '2200  W PERSHING RD, Chicago, IL' '2200  W 51ST ST, Chicago, IL'
 '3500  W 51ST ST, Chicago, IL' '5200  W 63RD ST, Chicago, IL'
 '6700  S KEDZIE AVE, Chicago, IL' '7300  S CICERO AVE, Chicago, IL'
 '2200  W 69TH ST, Chicago, IL' '5200  S NORDICA, Chicago, IL'
 '6100  S MELVINA AVE, Chicago, IL' '1000  E 67TH ST, Chicago, IL'
 '3900  S ASHLAND AVE, Chicago, IL' '4700  S CORNELL AVE, Chicago, IL'
 '5500  S DR MARTIN LUTHER KING JR DR, Chicago, IL'
 '6400  S STONY ISLAND AVE, Chicago, IL'
 '7100  S SOUTH SHORE DR, Chicago, IL' '7700  S EBERHART AVE, Chicago, IL'
 '4000  S DEARBORN ST, Chicago, IL' '5000  S UNION AVE, Chicago, IL'
 '7900  S CHICAGO AVE, Chicago, IL' '5200  S KOLMAR, Chicago, IL'
 '6300  W 64TH ST, Chicago, IL' '3700  S PULASKI RD, Chicago, IL'
 '1200  S DOTY AVE, Chicago, IL' '1000  S STONY ISLAND AVE, Chicago, IL'
 '1300  S TORRENCE AVE, Chicago, IL' '1300  S MACKINAW, Chicago, IL'
 '1300  S BRANDON, Chicago, IL' '3700  E 118TH ST, Chicago, IL'
 '3800  E 115TH ST, Chicago, IL' '8100  E 91ST ST, Chicago, IL'
 '2400  E 105TH ST, Chicago, IL' '8000  S KEDZIE AVE, Chicago, IL'
 '6500  S RACINE AVE, Chicago, IL' '8200  E 138TH ST, Chicago, IL'
 '8900  S MUSKEGON AVE, Chicago, IL' '9800  S AVENUE G, Chicago, IL'
 '1000  S COTTAGE GROVE, Chicago, IL' '1100  S AVENUE L, Chicago, IL'
 '5800  N PULASKI RD, Chicago, IL' '6600  S KILPATRICK AVE, Chicago, IL'
 '8100  W 37TH PL., Chicago, IL' '4000  E 130TH ST, Chicago, IL'
 '9100  W HIGGINS RD, Chicago, IL' '1000  W OHARE AIRPORT, Chicago, IL'
 '1000  W OHARE, Chicago, IL' '4800  W MONTANA ST, Chicago, IL'
 '5100  N MONT CLARE AVE, Chicago, IL' '8200  S KOSTNER AVE, Chicago, IL'
 '6500  E 91ST PL, Chicago, IL' '1700  W ADDISON ST, Chicago, IL'
 '9000  W GARFIELD BLVD, Chicago, IL' '1100  S WALLACE ST, Chicago, IL'
 '1300  N LARAMIE AVE, Chicago, IL' '3900  N SPRINGFIELD AVE, Chicago, IL'
 '1700  N ASHLAND AVE, Chicago, IL' '5100  W 72ND ST, Chicago, IL'
 '5800  N RIDGE AVE, Chicago, IL' '4200  W 65TH ST, Chicago, IL'
 '7100  N HARLEM AVE, Chicago, IL' '6200  N MCCLELLAN AVE, Chicago, IL'
 '2900  W 85TH ST, Chicago, IL' '3400  W 77TH ST, Chicago, IL'
 '9600  S LONGWOOD DR, Chicago, IL' '2100  N CANNON DR, Chicago, IL']
[41.95469  41.994991 41.974089 41.9216   41.891118 41.867108 41.896282
 41.919343 41.921965 41.688324 41.862292 41.720848 41.731922 41.891126
 41.999129 42.01743  41.907645 41.732984 41.981964 41.944869 42.011601
 41.94983  41.979243 41.986921 41.801498 41.906638 41.723195 41.868077
 41.869216 41.662014 41.961743 41.953067 41.878114 41.958271 41.932094
 41.994469 42.006858 41.916265 41.846075 41.918705 41.682587 41.725517
 41.948167 41.963976 41.953705 41.964242 41.990284 42.008314 41.991429
 41.843811 41.921177 41.852652 41.857402 41.868142 41.846283 41.721474
 41.869107 41.719059 41.966987 41.923738 41.970248 42.010412 41.89923
 41.692555 41.94016  41.903002 41.942114 41.960616 41.883284 41.704336
 41.962728 41.836644 41.837085 41.911824 41.823065 41.801179 41.800737
 41.778297 41.77166  41.759346 41.768388 41.797616 41.781416 41.773215
 41.822536 41.799282 41.794781 41.778748 41.766202 41.754676 41.821582
 41.803423 41.754292 41.798697 41.776156 41.82561  41.673408 41.726465
 41.678618 41.737052 41.740641 41.680946 41.686398 41.729669 41.704572
 41.74785  41.775051 41.644612 41.733643 41.717753 41.750498 41.702724
 41.984809 41.772846 41.825902 41.659112 41.992478 41.974689 41.957799
 41.925198 41.973845 41.743402 41.728495 41.947227 41.793818 41.753411
 41.904194 41.951866 41.912563 41.763733 41.98728  41.776428 42.009876
 41.994679 41.738903 41.753391 41.71914  41.925652]
[-87.800991 -87.769279 -87.824812 -87.666455 -87.654491 -87.654224
 -87.655232 -87.694259 -87.632085 -87.676709 -87.64886  -87.666014
 -87.677512 -87.61156  -87.795585 -87.687769 -87.760886 -87.649642
 -87.812827 -87.832763 -87.811506 -87.698457 -87.750938 -87.689778
 -87.763416 -87.701431 -87.64997  -87.666901 -87.627561 -87.724608
 -87.76007  -87.776792 -87.629798 -87.702575 -87.700117 -87.667736
 -87.675919 -87.800515 -87.716277 -87.752329 -87.707973 -87.614258
 -87.730698 -87.69181  -87.733974 -87.757639 -87.797127 -87.777921
 -87.747113 -87.686763 -87.79518  -87.719887 -87.694991 -87.696269
 -87.656913 -87.648064 -87.696293 -87.675088 -87.674677 -87.785288
 -87.787992 -87.66214  -87.716788 -87.598865 -87.794896 -87.688267
 -87.776385 -87.777189 -87.705085 -87.703736 -87.748367 -87.677737
 -87.729384 -87.726737 -87.678378 -87.679447 -87.71188  -87.752411
 -87.703047 -87.745602 -87.678649 -87.797894 -87.776532 -87.60088
 -87.666343 -87.585487 -87.615989 -87.586427 -87.562889 -87.612922
 -87.627796 -87.642984 -87.590773 -87.736812 -87.778927 -87.726549
 -87.599862 -87.585413 -87.559308 -87.543067 -87.546587 -87.535198
 -87.531635 -87.582699 -87.565666 -87.702716 -87.655356 -87.604498
 -87.55551  -87.531657 -87.605294 -87.536497 -87.728492 -87.740029
 -87.667827 -87.538693 -87.862995 -87.890615 -87.930995 -87.746381
 -87.805059 -87.731435 -87.600963 -87.671457 -87.654234 -87.639817
 -87.756155 -87.725057 -87.668055 -87.742302 -87.666066 -87.627096
 -87.807277 -87.770899 -87.695443 -87.707394 -87.669539 -87.63359 ]
[9 8 5 3]
[ 1  4  2  3  5  9  7 10  8  6 19 20 25 16 11 12 28 18 50 35 14 22 21 37
 27 13 39 29 15 17 34 26 32 47 44 23 46 48 42 33 45 24 41 38 40 36 43 49
 30 31]
[0 1]

### Missing Values
We check for missing values across all the datasets. The 'spray_df' dataset has 584 rows with missing data. As this represents less than 5% of the data, we have decided to drop these rows.

In [8]:
train_df.isnull().values.any()

False

In [9]:
test_df.isnull().values.any()

False

In [10]:
weather_df.isnull().values.any()

False

In [11]:
spray_df.isnull().values.any()

True

In [12]:
spray_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       14835 non-null  object
 1   Time       14251 non-null  object
 2   Latitude   14835 non-null  float64
 3   Longitude  14835 non-null  float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [51]:
spray_df.isnull().percent()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

### Data Cleaning